:root{
  height: 100%;
  --background-color: #a47551;
  --forground-color: #e4d4c8
}
body{
  margin: 0;
  height: 100%;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--background-color)
}
.App {
 /* margin-top: auto; */
 /* height: fit-content; */
 background-color: var(--forground-color);
 padding: 0 25px 25px
}
.pads-grid{
  display: grid;
  grid-template-columns: repeat(3,150px);
  grid-template-rows: repeat(3,100px);
  gap: 5px;
  justify-content: center;
}
.drum-pad{
  display: flex;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 4px;

}
.icon-bar{
  height: 25px;
}
